@use "@/scss/util" as u;

.overlay {
	box-sizing: border-box;
	position: fixed;
	inset: 0;
	z-index: 1;

  background-image: radial-gradient(transparent 50%, hsl(0, 0%, 0%, 0.5));

  pointer-events: none;
}

.menu {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
  
  box-sizing: border-box;
	padding-block: u.rem(64);
  height: 100%;
  width: 100%;

	background-color: hsl(140, 80%, 0%, 0.25);
	border-radius: 4px;
  box-shadow: 4px 4px 8px hsl(0, 0%, 0%, 0.5) inset;

  user-select: none;

  &__main {
    flex: 1;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__message {
    text-align: center;
  }

  &__button {
    display: block;

    border-style: solid;
    border-width: 2px;
		padding: u.rem(8) u.rem(16);

    max-width: fit-content;

		text-align: center;

		color: var(--cl-secondary);
    background-color: transparent;
    border-color: var(--cl-secondary);
		border-radius: 2px;

    transition-property: color, background-color;
    transition-duration: 800ms;
    
    &:hover,
    &:active {
      color: var(--cl-primary-shade);
      background-color: var(--cl-secondary);
      transition-duration: 200ms;
    }
	}
}
