@use "@/scss/util" as u;

.cards {
	display: flex;
  flex-wrap: wrap;
	gap: u.rem(16);
  justify-content: center;
  align-items: flex-start;

  position: relative;

	@include u.breakpoint(medium) {
		gap: u.rem(48);
	}

	@include u.breakpoint(large) {
		grid-template-columns: repeat(4, auto);
		gap: u.rem(64);
	}
}
