@use "@/scss/util" as u;

.score {
	margin: 0 auto;

	margin-block-end: u.rem(48);
	border-style: solid;
	border-width: 1px;
	padding: u.rem(8) u.rem(16);

	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;

	color: var(--text-primary);
	background-color: var(--background-primary);
	border-color: var(--foreground-tint);
	border-radius: 8px;

	&__value {
		display: inline-block;
		min-width: 2ch;
		font-weight: 900;
	}
}
