@use "@/scss/util" as u;

.card {
	--multiplier: 1.2;
	--card-height: calc(var(--multiplier) * 89px);
	--card-width: calc(var(--multiplier) * 64px);

	width: var(--card-width);
	height: var(--card-height);
	max-width: 300px;

	color: black;

  transition-property: opacity;
  transition-duration: 200ms;

	overflow: hidden;

	@include u.breakpoint(medium) {
		--multiplier: 1.8;
	}

	@include u.breakpoint(large) {
		--multiplier: 2.4;
	}

  &__image {
    width: 100%;
  }

  &--hinted {
    opacity: 0.3;
    transition-duration: 800ms;
    pointer-events: none;
  }

  &--inactive {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    justify-self: center;
    align-self: center;
    pointer-events: none;
  }
}
