@use "@/scss/util" as u;

.card {
  box-sizing: border-box;

  min-width: 80px;
  max-width: 160px;
  width: clamp(80px, 2.75rem + min(10vw, 10vh), 160px);

  border-style: solid;
  border-width: 8px;
  border-width: clamp(4px, 0.1375rem + 0.5vw, 8px);
  
  border-radius: 12px;
  border-radius: clamp(4px, 0.1375rem + 0.5vw, 8px);
	overflow: hidden;

  background-color: white;
  border-color: white;

  box-shadow: 2px 2px 1px hsl(140, 80%, 10%, 0.5);

  transition-property: opacity, box-shadow, scale;
  transition-duration: 600ms;

  cursor: pointer;
  
  &:hover {
    box-shadow: 
      2px 2px 1px hsl(140, 80%, 10%, 0.5),
      0 0 16px hsl(140, 80%, 10%, 0.5);
    scale: 1.02;
    transition-duration: 200ms;
  }

  &__image {
    transform: scale(1.05);
  }

  &--hinted {
    opacity: 0.3;
    transition-duration: 800ms;
    pointer-events: none;
  }

  &--inactive {
    position: absolute;
    pointer-events: none;
  }
}
