@use "@/scss/util" as u;

.controls {
	display: flex;
	justify-content: space-between;
	gap: u.rem(16);

	&__list {
		display: flex;
    flex-wrap: wrap;
    align-items: center;

    &--buttons {
      column-gap: u.rem(16);
    }
	}

	&__list-item {
		padding: u.rem(8) u.rem(16);

		text-align: center;
    text-wrap: nowrap;

		&--button {
			display: block;
      width: 7ch;
      background-color: var(--cl-tertiary);
      background-size: cover;
      border-radius: 2px;

      transition-property: box-shadow, background-color, opacity;
      transition-duration: 1200ms;

      &:hover {
        box-shadow: 4px 4px 4px hsl(140, 80%, 0%, 0.3) inset;
        transition-duration: 300ms;
      }
		}

    &--inactive {
      box-shadow: 4px 4px 4px hsl(140, 80%, 0%, 0.8) inset;
      background-color: hsl(140, 80%, 0%, 0.2);
      opacity: 0.5;

      transition-duration: 800ms;

      pointer-events: none;
      cursor: not-allowed;
    }
	}

	&__score-value {
		display: inline-block;
		min-width: 2ch;
		font-weight: 900;
	}
}
