@use "@/scss/util" as u;

.controls {
	display: flex;
	justify-content: space-between;
	gap: u.rem(16);

	&__list {
		display: flex;
    flex-wrap: wrap;
		gap: u.rem(16);
	}

	&__list-item {
		padding: u.rem(8) u.rem(16);

		text-align: center;
    text-wrap: nowrap;

		color: var(--cl-secondary);
    background-color: transparent;
		border-radius: 8px;

    transition-property: opacity;
    transition-duration: 200ms;

		&--button {
			display: block;
		}

    &--inactive {
      transition-duration: 800ms;
      opacity: 0.5;
      cursor: not-allowed;
    }
	}

	&__score-value {
		display: inline-block;
		min-width: 2ch;
		font-weight: 900;
	}
}
