@use "@/scss/util" as u;

body {
  margin: 0;
  background-image: (
    radial-gradient(hsl(140, 80%, 30%, 0.8) 20%,  hsl(140, 80%, 20%, 0.8) 85%, hsl(140, 80%, 10%, 0.7)),
    url("@/assets/images/background.webp"),
    linear-gradient(#067971)
  );
  background-size: cover;
}

main {
  height: 100vh;
  height: 100dvh;
}

button {
	font-family: inherit;
  border: none;
	cursor: pointer;
  
	&:focus,
	&:focus-visible {
		outline: 4px auto -webkit-focus-ring-color;
	}
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
}
