@use "/src/scss/util/" as u;

:root {
	--sans-serif: system-ui, Avenir, Helvetica, Arial, sans-serif;
	--serif: "Arbutus Slab", serif;;

	font-style: normal;
	font-weight: 400;
	font-optical-sizing: auto;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	line-height: 1.5;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	color: var(--cl-secondary);
	font-family: var(--serif);
}

h1 {
  margin: 0;
  font-size: u.rem(28);
  font-size: clamp(u.rem(28), 1.375rem + 1.5vw, u.rem(40));
  text-align: center;
  text-transform: uppercase;
	line-height: 1.1;
}

h2 {
  margin: 0;
	font-size: u.rem(24);
  font-size: clamp(u.rem(24), 1.3rem + 1vw, u.rem(40));
  text-align: center;
	line-height: 1.1;
}

p,
button,
output {
  font-size: u.rem(16);
  font-size: clamp(u.rem(16), 0.9rem + 0.5vw, u.rem(24));
}
